<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        id          = "com.piccirillo.calc"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Calc</name>

    <description>
        An example for phonegap build docs.
    </description>

    <platform name="android">
        <icon src="icon.png" width="150" height="150" />
    </platform>

</widget>