body {
    margin: 0;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: monospace;
}
.pad {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 106px;
}
.btn {
    width: calc((100% / 5) - 8px);
    text-align: center;
    background-color: olivedrab;
    color: white;
    margin: 4px;
    height: 40px;
    padding-top: 16px;
    font-size: 18px;
}
.btn:active {
    background-color: white;
    color: black;
}
.a { background-color: #1b85b8; } /* Numeros */
.b { background-color: #6f6569; } /* C/AC */
.c { background-color: #559e83; } /* Operações */
.d { background-color: #ae5a41; } /* Caracteres especiais */
.e { background-color: #c7b241; } /* Variáveis */
.f { background-color: #a171cb; } /* Funções */
.i {
    background-color: grey;
    width: calc((200% / 5) - 8px);
} /* Igual */
#birl {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 32px 0px;
    height: 38px;
    font-size: 32px;
    background-color: #444;
    color: white;
    width: 100%;
    text-align: right;
    overflow: scroll;
    white-space: nowrap;
}